<h3>records with classifications/subject headings</h3>

<div class="row" style="width: 500px; margin: 0 0 0 0">
  <div class="col-sm" style="margin: 0; padding: 0">
    <span style="color: #37ba00">with</span>
  </div>
  <div class="col-sm text-right" style="margin: 0; padding: 0">
    <span style="color: maroon">without</span>
  </div>
</div>

<div style="width: 500px; background-color: maroon">
  <div style="width: {{ (byRecord.withClassification.percent * 500)|round }}px; background-color: #37ba00; height: 10px;">&nbsp;</div>
</div>

<div class="row" style="width: 500px; margin: 0 0 20px 0">
  <div class="col-sm" style="margin: 0; padding: 0">
    {{ byRecord.withClassification.count|number_format(0) }}
    ({{ (byRecord.withClassification.percent * 100)|number_format(2) }}%)
  </div>
  <div class="col-sm text-right" style="margin: 0; padding: 0">
    {{ byRecord.withoutClassification.count|number_format(0) }}
    ({{ (byRecord.withoutClassification.percent * 100)|number_format(2) }}%)
  </div>
</div>
