<table>
  <colgroup>
    <col>
    <col>
    <col>
    <col>
    <col>
    <col style="border-right: 1px solid #cccccc;">
    <col>
    <col>
    <col>
    <col>
    <col>
  </colgroup>
  <thead>
    <tr class="first">
      <th colspan="3"></th>
      <th></th>
      <th colspan="2" class="with-border">records</th>
      <th colspan="5" class="with-border">occurences</th>
    </tr>
    <tr class="second">
      <th class="left path">path</th>
      <th class="left subfield">label</th>
      <th class="left chart"></th>
      <th class="terms">terms</th>
      <th class="number-of-record">count</th>
      <th class="percent-of-record">%</th>
      <th class="number-of-instances">count</th>
      <th class="min">min</th>
      <th class="max">max</th>
      <th class="mean">mean</th>
      <th class="stddev">stddev</th>
    </tr>
  </thead>
  <tbody>
    {% set previousPackage = "" %}
    {% set previousTag = "" %}
    {% for record in dataElementStatistics.records %}
      {% if previousPackage != record.package %}
        <tr>
          <td colspan="4" class="package">{{ record.package }}</td>
        </tr>
        {% set previousPackage = record.package %}
      {% endif %}
      {% if previousTag != record.tag %}
        <tr>
          <td colspan="4" class="tag">{{ record.path|slice(0,3) }} &mdash; {{ record.tag }}</td>
        </tr>
        {% set previousTag = record.tag %}
      {% endif %}
      {% set percent=(record.number_of_records * 100 / dataElementStatistics.max) %}
      <tr>
        <td class="path" id="tag-{{ record.path }}">
          {% if record.solr is defined  %}{# javascript:searchForField(field) #}
            <a href="{{ path('search', {field: record.solr}) }}">{{ record.path|slice(3) }}</a>
          {% else %}
            {{ record.path|slice(3) }}
          {% endif %}
        </td>
        <td class="subfield">{{ record.subfield }}</td>
        <td class="chart"><div style="width: {{ (percent * 2)|round }}px;">&nbsp;</div></td>
        <td class="terms">
          {% if record.solr is defined %}{# setCompletenessLinkHandlers #}
            <a href="{{ path('terms', {facet: record.solr, termQuery: '*:*', scheme: record.solr}) }}" class="term-link facet2"><i class="fa fa-list-ol"></i></a>
          {% endif %}
        </td>
        <td class="number-of-record">{{ record.number_of_records|number_format }}</td>
        <td class="percent-of-record">{{ percent|number_format(2) }}%</td>
        <td class="number-of-instances">{{ record.number_of_instances|number_format }}</td>
        <td class="min">{{ record.min }}</td>
        <td class="max">{{ record.max }}</td>
        <td class="mean">{{ record.mean }}</td>
        <td class="stddev">{{ record.stddev }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
