{% for doc in docs %}
  {% set record=getRecord(doc) %}
  {#{ dump(record) }#}
  {% set id=doc.id|trim %}
  {% set type=getFirstField(doc, 'type_ss') %}
  <div class="record">
    <h2>
      {% set tag245=getField(record, '245') %}
      {% set tag773=getField(record, '773') %}
      <i class="fa fa-{{ type2icon(type) }}" title="type: {{ type }}"></i>
      {% if tag245.subfields.a or tag245.subfields.b %}
        {% include 'search/conditional-foreach.html.twig' with {obj: tag245.subfields, key: 'a'} %}
        {% include 'search/conditional-foreach.html.twig' with {obj: tag245.subfields, key: 'b'} %}
      {% elseif tag773 %}
        {% include 'search/conditional-foreach.html.twig' with {obj: tag773.subfields, key: 't'} %}
        {% if tag245.subfields.n %}
          {% include 'search/conditional-foreach.html.twig' with {obj: tag245.subfields, key: 'n'} %}
        {% endif %}
      {% endif %}
      <a href="#" class="record-details" data="details-{{ id }}" title="display details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
      <a href="{{ opacLink(doc, id) }}" target="_blank" title="Display record in the library catalogue"><i class="fa fa-external-link" aria-hidden="true"></i></a>
    </h2>

    {% if attribute(tag245.subfields, 'c') is defined %}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag245.subfields, key:'c',
        label:'<i class="fa fa-pencil" aria-hidden="true"></i>', suffix:'<br/>'} %}
    {% elseif attribute(tag773.subfields, 'a') is defined %}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag773.subfields, key:'a',
        label:'<i class="fa fa-pencil" aria-hidden="true"></i>', suffix:'<br/>'} %}
    {% endif %}

    {% set tag250=getField(record, '250') %}
    {% if attribute(tag250, 'subfields') is defined %}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag250.subfields, key:'a'} %}
    {% endif %}

    {# 260 Publication #}
    {% if hasPublication(doc) %}
      {% set tag260=getField(record, '260') %}
      <i class="fa fa-calendar" aria-hidden="true"></i>
      Published
      {# date #}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag260.subfields, key:'c', label:'in', tag:'260c'} %}
      {# place #}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag260.subfields, key:'a', label:'in', tag:'260a'} %}
      {# agent #}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag260.subfields, key:'b', label:'by', tag:'260b'} %}
      <br/>
    {% endif %}

    {# PhysicalDescription #}
    {% if hasPhysicalDescription(doc) %}
      {% set tag300=getField(record, '300') %}
      {# extent #}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag300.subfields, key:'a', tag:'300a'} %}
      {# dimensions #}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag300.subfields, key:'c', tag:'300c'} %}
      <br/>
    {% endif %}

    {# SeriesStatement #}
    {% set tag490=getField(record, '490') %}
    {% if tag490 != null %}
      {% if attribute(tag490.subfields, 'a') is defined %}
        Series:
        {% for tag490 in record.490 %}
          <a href="#" class="record-link tag-490a" data="490a_SeriesStatement_ss">{{ attribute(tag490.subfields, 'a') }}</a>
          {% if attribute(tag490.subfields, 'v') is defined %}
            {{ attribute(tag490.subfields, 'v') }}
          {% endif %}
          {% if not loop.last %}, {% endif %}
        {% endfor %}
        <br/>
      {% endif %}
    {% endif %}

    <div class="details" id="details-{{ id }}">
      <ul class="nav nav-tabs" id="record-views-{{ id }}">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" role="tab" aria-selected="true"
             id="marc-raw-tab-{{ id }}" href="#marc-raw-{{ id }}"
             aria-controls="marc-raw-tab">MARC21</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" aria-selected="true"
             id="marc-leader-tab-{{ id }}" href="#marc-leader-{{ id }}"
             aria-controls="marc-leader-tab">Leader explained</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" aria-selected="true"
             id="marc-008-tab-{{ id }}" href="#marc-008-{{ id }}"
             aria-controls="marc-008-tab">008 explained</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" aria-selected="false"
             id="marc-human-tab-{{ id }}" href="#marc-human-{{ id }}"
             aria-controls="marc-human-tab">labels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" aria-selected="false"
             id="marc-issue-tab-{{ id }}" href="#marc-issue-{{ id }}"
             aria-controls="marc-issue-tab" data-id="{{ id }}">issues</a>
        </li>
      </ul>
    </div>
  </div>
{% endfor %}