{% for record in records %}
  {% set id=record.id %}
  {% set type=record.getType %}
  <div class="record">
    {% set tag245=record.getFirstField('245') %}
    <h2>
      {% set tag773=record.getFirstField('773') %}
      <i class="fa fa-{{ type2icon(type) }}" title="type: {{ type }}"></i>
      {% if tag245.has('a') or tag245.has('b') %}
        {% include 'search/conditional-foreach.html.twig' with {obj: tag245.subfields, key: 'a'} %}
        {% include 'search/conditional-foreach.html.twig' with {obj: tag245.subfields, key: 'b'} %}
      {% elseif tag773 %}
        {% include 'search/conditional-foreach.html.twig' with {obj: tag773.subfields, key: 't'} %}
        {% if tag245.subfields.n %}
          {% include 'search/conditional-foreach.html.twig' with {obj: tag245.subfields, key: 'n'} %}
        {% endif %}
      {% endif %}
      <a href="#" class="record-details" data="details-{{ id }}" title="display details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
      <a href="{{ opacLink(record, id) }}" target="_blank" title="Display record in the library catalogue"><i class="fa fa-external-link" aria-hidden="true"></i></a>
    </h2>

    {% if attribute(tag245.subfields, 'c') is defined %}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag245.subfields, key:'c',
        label:'<i class="fa fa-pencil" aria-hidden="true"></i>', suffix:'<br/>'} %}
    {% elseif attribute(tag773.subfields, 'a') is defined %}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag773.subfields, key:'a',
        label:'<i class="fa fa-pencil" aria-hidden="true"></i>', suffix:'<br/>'} %}
    {% endif %}

    {% set tag250=record.getFirstField('250') %}
    {% if attribute(tag250, 'subfields') is defined %}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag250.subfields, key:'a'} %}
    {% endif %}

    {# 260 Publication #}
    {% if record.hasPublication %}
      {% set tag260=record.getFirstField('260') %}
      <i class="fa fa-calendar" aria-hidden="true"></i>
      Published
      {# date #}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag260.subfields, key:'c', label:'in', tag:'260c'} %}
      {# place #}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag260.subfields, key:'a', label:'in', tag:'260a'} %}
      {# agent #}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag260.subfields, key:'b', label:'by', tag:'260b'} %}
      <br/>
    {% endif %}

    {% include 'search/264.html.twig' %}

    {# PhysicalDescription #}
    {% if record.hasPhysicalDescription %}
      {% set tag300=record.getFirstField('300') %}
      {# extent #}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag300.subfields, key:'a', tag:'300a'} %}
      {# dimensions #}
      {% include 'search/conditional-foreach.html.twig' with {obj:tag300.subfields, key:'c', tag:'300c'} %}
      <br/>
    {% endif %}

    {# SeriesStatement #}
    {% if record.hasAnySubfieldsOf('490', ['a']) %}
      Series:
      {% for tag in record.getField('490') %}
        <a href="{{path('search',{'query':tag.getQuery('a')})}}" class="query-link tag-490a">{{ tag.get('a') }}</a>
        {% if tag.has('v') %}{{ tag.get('v') }}{% endif %}
        {% if not loop.last %}, {% endif %}
      {% endfor %}
      <br/>
    {% endif %}

    {# Dates of Publication #}
    {% include 'search/362.html.twig' %}

    {# 520a_Summary_ss #}
    {% if record.hasField('520') %}
      {% for tag in record.getField('520') %}
        {{ tag.get('a') }}<br/>
      {% endfor %}
    {% endif %}

    {# 505a_TableOfContents_ss #}
    {% if record.hasField('505') %}
      {% for tag in record.getField('505') %}
        {{ tag.get('a') }}<br/>
      {% endfor %}
    {% endif %}

    {# Host Item Entry #}
    {% if record.has('773') %}
      {% for tag in record.get('773') %}
        <span class="773">
          {% if tag.has('a') %}
            <span class="main-entry">{{ tag.get('a') }}</span>
          {% endif %}
          {% if tag.has('b') %}
            <span class="edition">{{ tag.get('b') }}</span>
          {% endif %}
          {% if tag.has('d') %}
            <span class="place-publisher-dates">{{ tag.get('d') }}</span>
          {% endif %}
          {% if tag.has('t') %}
            <span class="title">{{ tag.get('t') }}</span>
          {% endif %}
          {% if tag.has('x') %}
            <span class="issn">{{ tag.get('x') }}</span>
          {% endif %}
          {% if tag.has('g') %}
            <span class="related-parts">{{ tag.get('g') }}</span>
          {% endif %}
          {% if tag.has('w') %}
            <span class="record-control-number">{{ tag.get('w') }}</span>
          {% endif %}
        </span>
        <br/>
      {% endfor %}
    {% endif %}

    {% if record.hasAuthorityNames() or record.hasSubjectHeadings() %}
      <table class="authority-names">
        {% if record.hasAuthorityNames() %}
          <tr><td colspan="2" class="heading">Authority names</td></tr>
          {# 100a_MainPersonalName_personalName_ss #}
          {% if record.hasMainPersonalName() %}
            <tr>
              <td><em>main personal names</em>:</td>
              <td>
                <i class="fa fa-user" aria-hidden="true" title="personal name"></i>
                {% for tag in record.getField('100') %}
                  <a href="{{path('search',{'query':tag.getQuery('a')})}}" class="query-link" data="100a_MainPersonalName_personalName_ss">{{ tag.get('a') }}</a>
                  {# 100d_MainPersonalName_dates_ss #}
                  {% if tag.has('d') %}{{ tag.get('d') }}{% endif %}
                  {% if not loop.last %}, {% endif %}
                {% endfor %}
                <br/>
              </td>
            </tr>
          {% endif %}
          {# TODO 110, 111, 130 #}
          {# 700a_AddedPersonalName_personalName_ss #}
          {% if record.hasField('700') %}
            <tr>
              <td><em>additional personal names</em>:</td>
              <td>
                <i class="fa fa-user" aria-hidden="true" title="personal name"></i>
                {% for tag in record.getField('700') %}
                  <a href="{{path('search',{'query': tag.getQuery('a')})}}" class="query-link tag-700a">{{ tag.get('a') }}</a>
                  {# dates #}{% if tag.has('d') %}{{ tag.get('d') }}{% endif %}{% if not loop.last %}, {% endif %}
                {% endfor %}
                <br/>
              </td>
            </tr>
          {% endif %}

          {# 710a_AddedCorporateName_ss #}
          {% if record.hasField('710') %}
            <tr>
              <td><em>additional corporate names</em>:</td>
              <td>
                <i class="fa fa-user" aria-hidden="true" title="corporate name"></i>
                {% for tag in record.getField('710') %}
                  <a href="{{ path('search',{'query':tag.getQuery('a')})}}" class="query-link tag-710a">{{ tag.get('a')|raw
                  }}</a>{# dates #}{% if tag.has('d') %} {{ tag.get('d') }}{% endif
                  %}{% if not loop.last %}, {% endif %}
                {% endfor %}
                <br/>
              </td>
            </tr>
          {% endif %}

          {# TODO 711, 720, 730 #}
        {% endif %}

        {% if record.hasSubjectHeadings() %}
          <tr><td colspan="2" class="heading">Subjects</td></tr>
          {# TODO: 055, 654, 656, 657, 658, 662 #}
          {# TODO: 052, 072, 080, 082, 083, 084, 085, 086 #}
          {# TODO: 600, 610, 611, 630, 647, 648 #}

          {# 650a_Topic_topicalTerm_ss #}
          {% if record.hasField('650') %}
            <tr>
              <td><em>topics</em>:</td>
              <td>
                {% for tag in record.getField('650') %}
                  <i class="fa fa-hashtag" aria-hidden="true" title="topical term"></i>
                  {% include 'search/subfield-link.html.twig' with {tag:tag, code:'a'} %}

                  {# 650b_Topic_topicalTerm_ss #}
                  {% if tag.has('b') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'b'} %}
                  {% endif %}

                  {# 650v_Topic_formSubdivision_ss #}
                  {% if tag.has('v') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'v'} %}
                  {% endif %}

                  {# 650x_Topic_generalSubdivision_ss #}
                  {% if tag.has('x') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'x'} %}
                  {% endif %}

                  {# 650y_Topic_chronologicalSubdivision_ss #}
                  {% if tag.has('y') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'y'} %}
                  {% endif %}

                  {# 650z_Topic_geographicSubdivision_ss #}
                  {% if tag.has('z') %}
                    <i class="fa fa-map" aria-hidden="true" title="geographic subdivision"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'z'} %}
                  {% endif %}

                  {# 6500_Topic_authorityRecordControlNumber_ss #}
                  {% if tag.has('0') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'0'} %}
                  {% endif %}

                  {% if tag.has('2') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield.html.twig' with {tag:tag, code:'2'} %}
                  {% endif %}

                  <br/>
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {# 651a_Geographic_ss #}
          {% if record.hasField('651') %}
            <tr>
              <td><em>geographic names</em>:</td>
              <td>
                {% for tag in record.getField('651') %}
                  <i class="fa fa-map" aria-hidden="true" title="topical term"></i>
                  {% include 'search/subfield-link.html.twig' with {tag:tag, code:'a'} %}

                  {# 651v_Geographic_formSubdivision_ss #}
                  {% if tag.has('v') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'v'} %}
                  {% endif %}

                  {# 651x_Geographic_generalSubdivision_ss #}
                  {% if tag.has('x') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'x'} %}
                  {% endif %}

                  {# 651y_Geographic_chronologicalSubdivision_ss #}
                  {% if tag.has('y') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'y'} %}
                  {% endif %}

                  {# 651z_Geographic_geographicSubdivision_ss #}
                  {% if tag.has('z') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'z'} %}
                  {% endif %}

                  {# 6510_Geographic_authorityRecordControlNumber_ss #}
                  {% if tag.has('0') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield-link.html.twig' with {tag:tag, code:'0'} %}
                  {% endif %}

                  {% if tag.has('2') %}
                    <i class="fa fa-tag" aria-hidden="true" title="form"></i>
                    {% include 'search/subfield.html.twig' with {tag:tag, code:'2'} %}
                  {% endif %}

                  <br/>
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {# TODO: 653, 655 #}

        {% endif %}
      </table>
    {% endif %}

    {% if record.hasSimilarBooks %}
      <div class="similarity">
        <i class="fa fa-search" aria-hidden="true"></i>
        Search for similar items:
        {% if record.hasField('912') %}
          works:
          {% for tag in record.getField('912') %}
            {% include 'search/link.html.twig' with {value:tag.get('9'), solr_field:tag.solrField('9')} %}
          {% endfor %}
        {% endif %}
        {% if attribute(doc, '9119_ManifestationIdentifier_ss') is defined %}
          manifestations:
          {% for tag in record.getField('911') %}
            {% include 'search/link.html.twig' with {value:tag.get('9'), solr_field:tag.solrField('9')} %}
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}

    <div class="details" id="details-{{ id }}">
      <ul class="nav nav-tabs" id="record-views-{{ id }}">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" role="tab" aria-selected="true"
             id="marc-raw-tab-{{ id }}" href="#marc-raw-{{ id }}"
             aria-controls="marc-raw-tab">MARC21</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" aria-selected="true"
             id="marc-leader-tab-{{ id }}" href="#marc-leader-{{ id }}"
             aria-controls="marc-leader-tab">Leader explained</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" aria-selected="true"
             id="marc-008-tab-{{ id }}" href="#marc-008-{{ id }}"
             aria-controls="marc-008-tab">008 explained</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" aria-selected="false"
             id="marc-human-tab-{{ id }}" href="#marc-human-{{ id }}"
             aria-controls="marc-human-tab">labels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" aria-selected="false"
             id="marc-issue-tab-{{ id }}" href="#marc-issue-{{ id }}"
             aria-controls="marc-issue-tab" data-id="{{ id }}">issues</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="marc-raw-{{ id }}" role="tabpanel" aria-labelledby="data-tab">
          <div class="marc-details" id="marc-details-{{ id }}">
            <table>
              {% for row in record.getMarcFields() %}
                <tr>
                  {% for cell in row %}
                    <td>{{ cell }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="tab-pane" id="marc-human-{{ id }}" role="tabpanel" aria-labelledby="data-tab">
          <ul>
            {% for field in record.allSolrFields %}
              <li>
                <span class="label">{{ field.label }}:</span>
                {% for value in field.value %}
                  {{ value }}{% if not loop.last %} &mdash; {% endif %}
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-pane" id="marc-issue-{{ id }}" role="tabpanel" aria-labelledby="data-tab">
          <p>Retrieving issues detected in this MARC record (if any). It might take for a while.</p>
        </div>
      </div>
    </div>

  </div>
{% endfor %}