<nav>
  <ul class="nav nav-tabs" id="myTab">
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.search.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.search.selected }}"
         id="data-tab" href="/search" aria-controls="data">Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.completeness.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.completeness.selected }}"
         id="completeness-tab" href="/completeness" aria-controls="completeness">Completeness</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.issues.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.issues.selected }}"
         id="issues-tab" href="/issues" aria-controls="issues">Issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.functions.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.functions.selected }}"
         id="functions-tab" href="/functions" aria-controls="functions">Functions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.classifications.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.classifications.selected }}"
         id="classifications-tab" href="/classifications" aria-controls="classifications">Subjects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.authorities.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.authorities.selected }}"
         id="authorities-tab" href="/authorities" aria-controls="authorities">Authorities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.serials.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.serials.selected }}"
         id="serials-tab" href="/serials" aria-controls="serials">Serials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.tt_completeness.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.tt_completeness.selected }}"
         id="tt-completeness-tab" href="/tt-completeness" aria-controls="tt-completeness">T&mdash;T completeness</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.terms.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.terms.selected }}"
         id="terms-tab" href="/terms" aria-controls="terms">Terms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.pareto.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.pareto.selected }}"
         id="pareto-tab" href="/pareto" aria-controls="pareto">Pareto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.settings.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.settings.selected }}"
         id="settings-tab" href="/settings" aria-controls="settings">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ commons.tabs.about.class }}" data-toggle="tab" role="tab"
         aria-selected="{{ commons.tabs.about.selected }}"
         id="about-tab" href="/about" aria-controls="about">About</a>
    </li>
  </ul>
</nav>
