<h3>histogram</h3>

<svg class="serial-histogram-chart-total" width="960" height="300"></svg>
<ul>
  <li>y: number of records</li>
  <li>x: number of authority names in one record</li>
</ul>

Each records having ... get a score based on a number of criteria.
Each criteria results in a positive or negative score. The final score is
these criteria scores.

<table>
  <thead>
    <tr>
      <th>criteria</th>
      <th>score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>date1 (008/07-11) is unknown ('uuuu')</td>
      <td>-3</td>
    </tr>
    <tr>
      <td>place of publication (008/15) is unknown (~ 'xx.+')</td>
      <td>-1</td>
    </tr>
    <tr>
      <td>publication language (008/35) is unknown (xxx)</td>
      <td>-1</td>
    </tr>
    <tr>
      <td>has authentication code (042$a)</td>
      <td>7</td>
    </tr>
    <tr>
      <td>encoding level (LDR/17) is Full level (‘ ‘) or Full level, material not examined (1) or Full level input by OCLC participants (I)</td>
      <td>7</td>
    </tr>
    <tr>
      <td>encoding level (LDR/17) is Added from a batch process (M), L, or Minimal level input by OCLC participants (K), or Minimal level (7)</td>
      <td>1</td>
    </tr>
    <tr>
      <td>has 006 field</td>
      <td>1</td>
    </tr>
    <tr>
      <td>has publisher (260)</td>
      <td>1</td>
    </tr>
    <tr>
      <td>has production, publication, distribution (264)</td>
      <td>1</td>
    </tr>
    <tr>
      <td>has publication frequency (310)</td>
      <td>1</td>
    </tr>
    <tr>
      <td>has content type (336)</td>
      <td>1</td>
    </tr>
    <tr>
      <td>has dates of publication (362)</td>
      <td>1</td>
    </tr>
    <tr>
      <td>has source of description (588)</td>
      <td>1</td>
    </tr>
    <tr>
      <td>has no subject headings</td>
      <td>-5</td>
    </tr>
    <tr>
      <td>for each subject headings</td>
      <td>1</td>
    </tr>
    <tr>
      <td>authentication code (042$a) = “ppc”</td>
      <td>100</td>
    </tr>
    <tr>
      <td>date1 begins with '0'</td>
      <td>-100</td>
    </tr>
  </tbody>
</table>

<h3>components</h3>

<p>The histograms of the individual components:</p>

<table>
{% for index, field in histogram.fields %}
  {% if index % 3 == 0 %}
    <tr>
  {% endif %}
    <td>
      <p id="{{ prefix }}-histogram-{{ index+1 }}"><strong>{{ index+1 }}.</strong> {{ field.name }}</p>
      <svg class="{{ prefix }}-histogram-chart-{{ field.transformed }}" width="320" height="200"></svg>
    </td>
  {% if index % 3 == 2 or index == histogram.fields|length - 1 %}
    </tr>
  {% endif %}
{% endfor %}
</table>

<script type="text/javascript">
var fields = {{ histogram.fields|json_encode()|raw }};
var prefix = '{{ prefix }}';
</script>
